<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Magos</title>
</head>
<body>
    <form action="/appcoder/buscamagos" method="get">
        {% csrf_token %}
        <input type="text" name="nombre">

        <input type="submit" value="Buscar">
    </form>


    
    
    {% if mago %}
    <p>Mago encontrado: {{mago.nombre}} {{mago.apellido}}</p>
        
    {% endif %}
        
        


</body>
</html>