<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Asignaturas</title>
</head>
<body>
    
    <form action="/appcoder/asignaturasformulario/" method="POST">
        {% csrf_token %}

        <p>ASIGNATURA: <input type="text" name="nombre"></p>

        <p>CLASE: <input type="number" name="clase"></p>

        <input type="submit" value="CREAR ASIGNATURA">

    </form>
    
</body>
</html>