<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bienvenidos a Drogwarts!</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'appcoder/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'appcoder/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% include 'appcoder/components/navbar.html' %}
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Bienvenidos a Drogwarts!</h1>
                    <p class="lead mb-0">El rincón mágico de bajo presupuesto</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    {% block main_content %}{% endblock main_content %}

                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            
                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>

                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    {% comment %} <div class="card mb-4">
                        <div class="card-header">Busqueda</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Ingresa tu busqueda..." aria-label="Ingresa tu busqueda..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Ir!</button>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Webs Anti-Muggles</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="https://www.wizardingworld.com/" target="_blank">Sitio Oficial</a></li>
                                        <li><a href="https://es.wikipedia.org/wiki/Harry_Potter" target="_blank">Wiki</a></li>
                                        <li><a href="https://harrypotter.fandom.com/es/wiki/HarryPotter_Wiki" target="_blank">Fandom</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">La magia del tiempo...</div>
                        <div class="card-body">{{date}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Arriba el software libre! Año 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'appcoder/js/scripts.js' %}"></script>
    </body>
</html>
