{% extends 'appcoder/base.html' %}

{% block main_content %}
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://i.ibb.co/dBw4gGq/Harry-vs-Voldemort-harry-potter-34732865-1056-757-1.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">15 de Abril de 2022</div>
                            <h2 class="card-title">Harry vs El Innombrable, ¿Podrán?</h2>
                            <p class="card-text">Arranca el genio de la magia con la Saeta de Fuego por la derecha, Avada Kedavra, ta, ta, ta! Gooooooooooool!!!</p>
                            <a class="btn btn-primary" href="#!">Leer mas... →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
{% endblock main_content %}
