<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Profesores</title>
</head>
<body>
        
    <form action="/appcoder/profesoresformulario/" method="POST">
        {% csrf_token %}

        <p>NOMBRE: <input type="text" name="nombre"></p>

        <p>APELLIDO: <input type="text" name="apellido"></p>

        <p>MATERIA: <input type="text" name="materia"></p>

        <input type="submit" value="CREAR PROFESOR">

    </form>
    
</body>
</html>